:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
    font-style: normal;

}
body{
    font-family: var(--main-font);
    color: var(--text-color);

    
}
.logo {
    font-family: var(--logo-font);
    color: var(--title-color);
}
.logo-accent {
    color: var(--accent-color);
}

.nav-link {
    font-family:var(--main-font);
    color: var(--title-color);
}


/*.linkfont-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
/* identical to box height */

/*letter-spacing: 0.03em;

color: #2196F3;
/*